<!-- app.component.html -->
<div class="container mt-4">

    <!-- Encabezado -->
    <h1>BRITT PROYECTO TECNICO</h1>
    <h2 class="mb-4">Jose Guevara</h2>

    <!-- Información de la factura -->
    <div class="info-1">
        <p><strong>Factura:</strong> {{ factura }}</p>
        <p><strong>Fecha:</strong> {{ fecha }}</p>
        <p><strong>Total:</strong> {{ total | currency }}</p>
    </div>

    <!-- Botones para mostrar modales -->
    <button class="btn-primary" (click)="mostrarModalFactura = true">Nueva Factura</button>
    <button class="btn-secondary" (click)="abrirModal()">Agregar Detalle</button>

    <!-- Modal Nueva Factura -->
    <div *ngIf="mostrarModalFactura" class="modal">
        <h3>Nueva Factura</h3>
        <label>Número: <input [(ngModel)]="nuevaFacturaInfo.numero" class="form-control" /></label>
        <label>Fecha: <input type="date" [(ngModel)]="nuevaFacturaInfo.fecha" class="form-control" /></label>
        <button class="btn btn-success mt-2" (click)="agregarFactura()">Agregar</button>
        <button class="btn btn-danger mt-2" (click)="mostrarModalFactura = false">Cerrar</button>
    </div>

    <!-- Modal Agregar Detalle -->
    <div *ngIf="mostrarModalLinea" class="modal">
        <h3>Agregar Detalle</h3>
        <label>Producto:
            <select [(ngModel)]="nuevoDetalle.producto" class="form-control">
                <option *ngFor="let producto of productos" [value]="producto.codigoArticulo">{{ producto.descripcion }}</option>
            </select>
        </label>
        <label>Cantidad: <input [(ngModel)]="nuevoDetalle.cantidad" class="form-control" /></label>
        <button class="btn btn-success mt-2"
            (click)="agregarDetalle(1, nuevoDetalle.producto, nuevoDetalle.cantidad)">Agregar</button>
        <button class="btn btn-danger mt-2" (click)="mostrarModalLinea = false">Cerrar</button>
    </div>

    <!-- Tabla -->
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Producto</th>
                    <th>Cantidad (QTY)</th>
                    <th>Precio</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detalle of detalles, index as i">
                    <td>{{ detalle.sku }}</td>
                    <td>{{ detalle.producto }}</td>
                    <td>{{ detalle.cantidad }}</td>
                    <td>{{ detalle.precio | currency }}</td>
                    <td>{{ detalle.total | currency }}</td>
                    <td (click)="borrarDetalle(detalle, i)" >Borrar</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>